#root {
  width: 500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(43, 43, 43);
}

#form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  color: black;
}

#form form {
  align-content: center;
}

#task {
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;

}

#logo{
  width: 50px;
  padding-left:10px;
  justify-content: center;
}

#form button:hover {
  background-color: rgb(55, 208, 55);
}

.inText:hover {
  background-color: rgb(43, 43, 43);
  color: white;
}

.inText {
  height: 25px;
  padding: 12px 18px;
  margin-right: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px;
  width: 300px;
  font-size: medium;
}

#form p {
  margin: 0;
  text-align: start;
  font-size: small;
  color: darkgrey;
}